<% all_products = Product.includes(:user).all %>
<ul>
<% all_products.each do |product| %>
	<li>
		<%= product.name %> costs <%= product.price %> and is owned by <%= product.user.name %>
	</li>
	<% end %>
</ul>
